a {
	color: #777784;
	text-decoration: none !important;
}
a:hover{
	color: #404042;
	text-decoration: none !important;
}
a:active{
	color: #404042;
	text-decoration: none !important;
}
a:visited{
	color: #777784;
	text-decoration: none !important;
}
.country-container{
	padding: 20px 0px;
}
.menu-dashboard-weather{
	background-color: #efefef;
	padding: 20px 0px;
	border: 1px solid #efefef;
	border-radius: 3px;
}
.menu-dashboard-weather-button{
	padding: 15px;
}
.table-allData-margin{
	margin-top: 10px;
}
.custom-small{
	font-size: 12px;
}
